@import "../../utilities/cssVariables.css";



.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   background-color: var(--dark-main-button-background-color);
    height: 2.5em;
    width:100%;
    box-shadow: var(--box-shadow);
}

.paginationItem {
    border:0.1em solid var(--dark-elements-background-color);
    /* padding: 10px 15px; */
    border-radius: var(--border-radius);
    height: 2em;
    width: 2em;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
    font-size: 0.7rem;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev,
.next {
display: flex;
    width: 3em;
    height: 2em;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: 0;
    margin: 0 2em 0 2em;
    padding: 0;
    font-size: var(--font-size);
    cursor: pointer;
}

.paginationItem.active {
    border: 1px solid var(--neongreen);
    color: var(--magenta);
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}