@import '../../utilities/cssVariables.css';

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  border-bottom: 2px solid var(--magenta);
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}
.navLinks {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.8em;
  width: 5rem;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}
.linksBurger {
  color: var(--main-text-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.8em;
  text-align: center;
  width: 5rem;
  text-transform: capitalize;
  animation: navLinkFadeIn ease-in forwards 0.3s;
}

.link:hover,
.linksBurger:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: var(--hover-white);
  border-radius: 3px;
  color: black;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--main-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navLinks {
    position: absolute;
    right: 0;
    height: 60vh;
    top: 9.1vh;
    background-color: #0093e9;
    background-image: linear-gradient(90deg, #80d0c7 0%, #0093e9 100%);
    flex-direction: column;
    align-items: center;
    width: 14em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-radius: 4px;
    font-weight: 600;
  }

  .burger {
    display: block;
  }
}

.navActive {
  transform: translateX(0%);
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

.lineX1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.lineX2 {
  opacity: 0;
}
.lineX3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
