@import '../../utilities/cssVariables.css';


.card {
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 1em 1em 1em;
    border-radius: 0.5rem;
    border-top: 2px solid var(--neongreen);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: rgba(200, 200, 200, 0.2);
}


@media (max-width: 500px) {
    .card {
        width: 100%;
        margin:0 0 0.5em 0;
        border-radius: 0;
        box-shadow: none;
    }
}
    






